<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h3>Login</h3>
  <input type="text" placeholder="Email" formControlName="email">
  <div class="alert alert-danger"
       *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
    Email is required
  </div>
  <br>
  <input type="password" placeholder="Password" formControlName="password">
  <div class="alert alert-danger"
       *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
    Password is required or the length is greater than or equal to 6
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>
