<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create customer</title>
</head>
<body>
<p>
  <a href="/customers" th:text="#{customer.list.returnList}"></a>
</p>
<h1 th:text="#{customer.list.create}"></h1>
<label th:text="#{language}"></label>
<a href="?lang=en">English</a> | <a href="?lang=vi">Vietnamese</a>
<th:block th:if="${message}">
  <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-customer}" th:object="${customer}" method="post">
  <table>
    <tr>
      <td th:text="#{customer.list.firstName}">//</td>
      <td><input type="text" th:field="*{firstName}"/></td>
    </tr>
    <tr>
      <td th:text="#{customer.list.lastName}"></td>
      <td><input type="text" th:field="*{lastName}"/></td>
    </tr>
    <tr>
      <td th:text="#{customer.list.province}"></td>
      <td>
        <select th:field="*{province}">
          <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" th:value="#{customer.list.create}"></td>
    </tr>
  </table>
</form>
</body>
</html>