<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Validation phone number</title>
</head>
<body>
<form action="/phone" method="post" th:object="${phone}">
    <table>
        <tr>
            <th>
                Phone number:
            </th>
            <td>
                <input type="text" th:field="${phone.number}">
            </td>
            <td th:if="${#fields.hasErrors('number')}" th:errors="${phone.number}">Phone number Error</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>