body {
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    border-bottom: 1px solid;
    width: 100%;
}

h4 {
    font-weight: normal;
}

p {
    text-indent: 3%;
}

.aqua {
    color: aqua;
}

.blue {
    color: blue;
}