<table class="table table-striped table-bordered">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Mark</th>
    <th>Check mark</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let student of studentList">
        <td>{{student.id}}</td>
        <td>{{student.name | titlecase}}</td>
        <td>{{student.age}}</td>
        <td>{{student.mark}}</td>
      <td class="text-success" *ngIf="student.mark >= 5">Pass</td>
      <td class="text-danger" *ngIf="student.mark < 5">Fail</td>
      <td>
        <a class="btn btn-info m-2">Detail</a>
        <a class="btn btn-warning m-2">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
