<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<h2>Sign up</h2>
<form action="/sign-up" method="post" th:object="${user}">
    <table>
        <tr>
            <td>Firstname:</td>
            <td>
                <input type="text" th:field="*{firstname}">
            </td>
            <td th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">
            </td>
        </tr>
        <tr>
            <td>Lastname:</td>
            <td>
                <input type="text" th:field="*{lastname}">
            </td>
            <td th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">
            </td>
        </tr>
        <tr>
            <td>Phone number:</td>
            <td>
                <input type="text" th:field="*{phoneNumber}">
            </td>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">
            </td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>
                <input type="text" th:field="*{age}">
            </td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input type="text" th:field="*{email}">
            </td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>